<div class="card">
  <% if prototype.image.attached? %>
    <%= link_to image_tag(prototype.image, class: :card__img), prototype_path(prototype) %>
  <% else %>
    <!-- 画像がない場合の代替処理を記述 -->
    <%= link_to "No Image", prototype_path(prototype) %>
  <% end %>

  <div class="card__body">
    <%= link_to prototype.title, prototype_path(prototype), class: :card__title %>
    <p class="card__summary">
      <%= prototype.catch_copy %>
    </p>
    <!-- ユーザー名を表示する部分を修正 -->
    <div class="card__user">
      <%= link_to "by #{prototype.user.name}", user_path(prototype.user), class: :card__user %>
    </div>
    <p class="card__concept">
      <%= prototype.concept %>
    </p>
  </div>
</div>

