<!-- app/views/prototypes/_prototype.html.erb -->
<div class="card">
  <%= link_to image_tag(@prototype.image.variant(resize: "300x200"), class: :card__img), prototype_path(@prototype) %>
  <div class="card__body">
    <%= link_to @prototype.title, prototype_path(@prototype), class: :card__title %>
    <p class="card__summary">
      <%= @prototype.catch_copy %>
    </p>
    <%= link_to "by #{link_to @prototype.user.username, user_path(@prototype.user)}", user_path(@prototype.user), class: :card__user %>
    <p class="card__concept">
      <%= @prototype.concept %>
    </p>
  </div>
</div>
